* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.main_header {
    padding: 30px 30px;
    width: 100%;
    border-bottom: 1px solid #010f1c;
}

.main_header .container {
    display: flex;
    justify-content: space-between;
}

.main_header .container .logo  p{
    background-color: #0849a8;
    color: white;
    border-radius: 5%;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
    
}



.header .container .search_box
{
    margin-right:1px;
}
.header .container .search_box input
{
    outline: none;
    padding: 10px 30px;
    border: 3px solid #730c27a5;
    width: 250px;
    color: #010f1c;
   
   
}
.header .container .search_box button
{
    border: 3px solid #730c27a5;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background: #730c27a5;
    color: #ecf2f7;
   
   
} 
.main_header .container .icon{
    display: flex;
    margin-left: 300px;

}
.main_header .container .icon .account  {
    display: flex;
    margin-right: 30px;
}
.main_header .container .icon .account .user_icon{
    margin-right: 10px;
    font-size: 22px;
    color:#0849a8;
    cursor:pointer;
}

.main_header .container .icon .account p{
    margin-right: 5px;
    margin-top: 2px;
    color:#0849a8;

} 


.main_header .container .icon .second_icon{
    display:flex;
    
    justify-content: space-between ;
}

.main_header .container .icon .second_icon .link{
    margin-right: 5px;
    font-size: 22px;
    cursor: pointer;
    color:#0849a8;
    padding-right: 10px;

}
.header
{
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(174, 173, 170, 0.594), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header .container 
{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.header  .container .nav ul
{
    display: flex;
}
.header  .container  .nav ul li
{
    margin-left: 40px;
    list-style: none;
}
.header .container    .nav ul li .link
{
    text-decoration: none;
    font-size: 20px;
    color: #0849a8;
    transition: 0.5s;
  font-weight: bold;
    padding: 10px;
}
.header .container  .nav ul li .link:hover
{
    color:#0849a8;
    border-bottom: 3px solid #00aaff;
    border-radius: 20%;
}
.header .container  .auth
{
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
}
.header .container .auth button
{
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color:#0849a8;
}
@media screen and (max-width: 768px){
    .header .container .search_box
    {
        display: none;
    }
  
    .main_header .container .icon{
        margin-left: 30px;
    }
  
    .main_header .container .icon .account .user_icon{
        display: none;
    }
    
    .main_header .container .icon .account p{
      
        display: none;
    } 
    
    .main_header .container .icon .second_icon .link{
        margin-right: 0px;
    
    }
}
